@tailwind base;
@tailwind components;
@tailwind utilities;

.backface-hidden,
.backface-hidden * {
  backface-visibility: hidden;
}

.rotate-y-half {
  transform: rotateY(180deg);
}

.rotate-y-none {
  transform: rotateY(0deg);
}

.style-preserve-3d {
  transform-style: preserve-3d;
}

.perspective-wide {
  perspective: 1000px;
}

.transition-transform {
  transition: transform 0.6s ease;
}

.transition-all {
  transition: all 0.6s ease;
}

.logo-filter {
  filter: grayscale(100%) opacity(0.5);
}

.filter-grayscale {
  filter: grayscale(100%);
}

@variants hover {
  .filter-none {
    filter: none;
  }
}
